  <%= form_with scope: :withsdraw, url: new_user_path, local: true do |form| %>
  <p>
    <%= form.label :phone_number %><br>
    <%= form.text_field :phone_number %>
  </p>
  <p>
    <%= form.label :Amount %><br>
    <%= form.text_field :amount%>
  </p>
  <p>
    <%= form.label :Agent_number %><br>
    <%= form.text_field :Agent_number%>
  </p>
  <p>
    <%= form.label :pin %><br>
    <%= form.text_field :pin %>
  </p>
 
    <%= form.submit "Create withdrawal" %>
  </p>
<% end %>
